@font-face {
    font-family: "しっぽり明朝";
    src: url(ShipporiMinchoB1-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: 'しっぽり明朝', serif;
    letter-spacing: 5px;
    color: #444;
}

.headlogo {
    width: 300px;
    text-align: center;
    margin: 20px 0 0;
}

.toplogo {
    width: 240px;
    background: rgba(239, 237, 220, 0.85);
    padding: 12px 50px 8px 40px;
}

p {
    font-size: 15px;
    letter-spacing: 0.5px;
}

/*スライドショー*/

.slide {
    position: relative;
    width: 100%;
    height: 675px;
    overflow: hidden;
    img {
        position: absolute;
        top: calc(50% + 80px);
        left: 50%;
        transform: translate(-50%, -50%);
        height: 675px;
        object-fit: cover;
        opacity: 0;
        z-index: -1;
        animation :slideshow 40s linear infinite;
    }
    img:nth-child(1) {
        animation-delay: -2s;
    }
    img:nth-child(2){
        animation-delay: 3s;
    }
    img:nth-child(3){
        animation-delay: 8s;
    }
    img:nth-child(4){
        animation-delay: 13s;
    }
    img:nth-child(5){
        animation-delay: 18s;
    }

    img:nth-child(6){
        animation-delay: 23s;
    }

    img:nth-child(7){
        animation-delay: 28s;
    }
        
    img:nth-child(8){
        animation-delay: 33s;
    }
}

@keyframes slideshow {
    0%{
        opacity: 0;
    }
    8.25%{
        opacity: 1;
    }
    12.625%{
        opacity: 1
    }
    20.875%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.center_contents {
    text-align: center;
}

.bodybox {
    margin: 100px 30px 50px;
}

.index_news {
    position: relative;
    margin: 5px 30px;
    li {
        text-decoration: none;
        list-style: none;
        margin: 15px 0;
    }
    .date {
        margin: 0;
    }
    h2 {
        margin: 0;
    }
}

.profile_sentence {
    margin: 0 30px;
}

.news_block {
    width: 60%;
    height: 150px;
    margin: 50px 20%;
    display: flex;
    list-style: none;

    .news_inline {
        display: inline;
        width: 80%;

        .news_infobox {
            display: flex;

            p {
                display: inline;
                width: 80px;
                text-align: left;
            }
        }

        .news_titlebox {
            text-align: left;

            h2 {
                margin: 0;
            }

        }
    }

    .news_imgbox {
        display: inline;
        width: 20%;
        text-align: center;

        img {
            height: 150px;
        }
    }
}

.archives_flex {
    padding: 0;
    width: 90%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    gap: 5%;

    .archives_block {
        position: relative;
        display: inline-block;
        width: calc((100% - 10%)/3);
        text-align: left;
        list-style: none;
        padding: 0;
        margin-bottom: 5%;

        p {
            width: 100%;
            margin: 5px 0;
            text-align: center;
        }

        img {
            width: 100%;
            aspect-ratio: 3 / 2;
            object-fit: cover;
        }
    }
}