@font-face {
    font-family: "しっぽり明朝";
    font-weight: 400;
    src: url(ShipporiMinchoB1-Regular.ttf);
}

@font-face {
    font-family: "しっぽり明朝";
    font-weight: 600;
    src: url(ShipporiMincho-SemiBold.ttf);
}

@media only screen and (max-width: 449px) {
    .mobile_only {
        display: block;
    }
}

@media only screen and (min-width: 450px) {
    .mobile_only {
        display: none;
    }
}

body {
    margin: 0 auto;
    font-family: 'しっぽり明朝', serif;
    letter-spacing: 5px;
    color: #444;
    -webkit-overflow-scrolling: touch;
    font-display: swap;
}

.contents_fadein {
    animation-name: fadein;
    opacity: 0;
    animation-fill-mode: forwards;
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.contents_fadein.show {
    opacity: 1 !important;
}

a {
    text-decoration: none;
    color: #444;
}

.text_bold {
    font-weight: 600;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/*アセット*/

.bodybox {
    margin: 100px 30px 50px;
}

.center_contents {
    text-align: center;
}


@media only screen and (max-width:799px) {
    h1 {
        font-size: 17.5px;
        letter-spacing: 1px;
    }
    
    h2 {
        font-size: 12px;
        letter-spacing: 1px;
    }

    p {
        font-size: 7.5px;
        letter-spacing: 0.5px;
    }
}

@media only screen and (min-width:800px) {
    h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    
    h2 {
        font-size: 20px;
        letter-spacing: 2px;
    }

    p {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
}


/*loading*/

#loading {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #cdcbbf;
    text-align:center;
    color: #444;
    overflow: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    opacity: 1;
    visibility: visible;
}

#loading.loaded {
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width: 449px) {
    .loading_in {
        text-align: center;
        width: 70%;
        height: 50vh;
        margin: calc((100vh - 50vh)/2) calc((100% - 70%)/2);
    }

    .loading_img {
        width: 33.33vw;
    }

    #loading_text {
        z-index: 999;
        color: #444;
        font-size: 3.33vw;
        letter-spacing: 1.5px;
        animation: pulse 1.5s infinite;
    }
}

@media only screen and (min-width: 450px) {
    .loading_in {
        text-align: center;
        width: 50%;
        height: 50vh;
        margin: calc((100vh - 50vh)/2) calc((100% - 50%)/2);
    }

    .loading_img {
        width: 150px;
    }

    #loading_text {
        z-index: 999;
        color: #444;
        font-size: 15px;
        letter-spacing: 1.5px;
        animation: pulse 1.5s infinite;
    }
}

#loading_text.ready {
    animation: fadeIn 1.5s;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*index.html*/

.slide {
    position: relative;
    width: 100%;
    /*height: 675px;*/
    height: 80vh;
    overflow: hidden;
    img {
        will-change: opacity;
        backface-visibility: hidden;
        position: absolute;
        top: calc(50% + 80px);
        left: 50%;
        transform: translate(-50%, -50%);
        /*height: 675px;*/
        height: 80vh;
        object-fit: cover;
        opacity: 0;
        z-index: -1;
        animation :slideshow 40s linear infinite;
    }
    img:nth-child(1) {
        animation-delay: -2s;
    }
    img:nth-child(2){
        animation-delay: 3s;
    }
    img:nth-child(3){
        animation-delay: 8s;
    }
    img:nth-child(4){
        animation-delay: 13s;
    }
    img:nth-child(5){
        animation-delay: 18s;
    }

    img:nth-child(6){
        animation-delay: 23s;
    }

    img:nth-child(7){
        animation-delay: 28s;
    }
        
    img:nth-child(8){
        animation-delay: 33s;
    }
}

@keyframes slideshow {
    0%{
        opacity: 0;
    }
    8.25%{
        opacity: 1;
    }
    12.625%{
        opacity: 1
    }
    20.875%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.index_news {
    position: relative;
    margin: 5px 30px;
    li {
        text-decoration: none;
        list-style: none;
        margin: 15px 0;
    }
    .date {
        margin: 0;
    }
    a {
        font-size: 12px;
        letter-spacing: 1px;
    }
    h2 {
        margin: 0;
    }
}

/*profile.html*/
.profile_sentence {
    margin: 0 30px;
}

/*news.html*/
.sort_var {
    p:hover {
        color: #333 !important;
        font-weight: bold !important;
        cursor: pointer;
    }
    .sort_all {
        color: #444;
    }
    .sort_info,
    .sort_live {
        color: #bbb;
    }
}

@media only screen and (max-width:799px) {
    .sort_var {
        padding-bottom: env(safe-area-inset-bottom);
        position: fixed;
        /*bottom: 0;*/
        left: 0;
        display: flex;
        width: 60%;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 99;
        border-radius: 0 30px 0 0;
        box-shadow: 0 0 0.5px #444;
        margin: 0;
        height: calc(50px + env(safe-area-inset-bottom));

        div {
            width: 30%;
            height: 50px;
            display: inline-block;

            p {
                font-size: 12.5px;
                text-align: center;
            }
        }
    }

    .news_block {
        width: 100%;
        display: flex;
        list-style: none;
        transition: opacity 0.5s ease;
        margin-bottom: 50px;
        flex-direction: column-reverse;

        .news_inline {
            display: inline;
            width: 100%;

            .news_infobox {
                display: flex;
                width: 80%;
                margin: 15px auto;

                p {
                    display: inline;
                    width: 80px;
                    text-align: left;
                    margin: 0;
                }
                .date {
                    margin-right: 5px;
                }
                .info::after {
                    content: "INFO";
                    background-color: #b0909d;
                    padding: 0 7.5px;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 100;
                }
                .live::after {
                    content: "LIVE";
                    background-color: #b0909d;
                    padding: 0 7.5px;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 100;
                }
            }

            .news_titlebox {
                text-align: left;
                width: 80%;
                margin: auto;

                a {
                    font-size: 10px;
                }
            }
        }

        .news_imgbox {
            display: inline;
            width: 100%;
            text-align: center;

            img {
                width: 100%; 
                max-width: 300px; 
                max-height: 300px; 
                object-fit: contain; 
                height: auto;
            }
        }
    }   
}

@media only screen and (min-width:800px) {
    .sort_var {
        position: fixed;
        top: 50%;
        left: 5px;

        div {
            margin: 20px;
        }
    }

    .news_block {
        width: 60%;
        height: 200px;
        margin: 50px 20%;
        display: flex;
        list-style: none;
        transition: opacity 0.5s ease;

        .news_inline {
            display: inline;
            width: 60%;

            .news_infobox {
                display: flex;

                p {
                    display: inline;
                    text-align: left;
                    margin: 0;
                }
                .date {
                    margin-right: 5px;
                }
                .info::after {
                    content: "INFO";
                    background-color: #b0909d;
                    padding: 0 7.5px;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 100;
                }
                .live::after {
                    content: "LIVE";
                    background-color: #b0909d;
                    padding: 0 7.5px;
                    color: #fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 100;
                }
            }

            .news_titlebox {
                text-align: left;
                a {
                    font-size: 10px;
                }
            }
        }

        .news_imgbox {
            display: inline;
            width: 40%;
            text-align: center;

            img {
                width: 100%; 
                max-width: 300px; 
                max-height: 200px; 
                object-fit: contain; 
                height: auto;
            }
        }
    }    
}

/*archives.html*/
@media only screen and (max-width:799px) {
    .archives_flex {
        padding: 0;
        width: 100%;
        list-style: none;
        margin: 0 auto;
        text-align: center;

        .archives_block {
            position: relative;
            display: inline-block;
            width: 35vw;
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0 auto 5%;
            vertical-align: top;


            p {
                width: 100%;
                margin: 5px 0;
                text-align: center;
                font-size: 2vw;
            }

            img {
                width: 95%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
            }
        }
    } 
}

@media only screen and (min-width:800px) {
    .archives_flex {
        padding: 0;
        width: 90%;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin: 0 auto;
        text-align: center;
        gap: 5%;

        .archives_block {
            position: relative;
            display: inline-block;
            width: calc((100% - 10%)/3);
            text-align: left;
            list-style: none;
            padding: 0;
            margin-bottom: 5%;

            p {
                width: 100%;
                margin: 5px 0;
                text-align: center;
            }

            img {
                width: 100%;
                aspect-ratio: 3 / 2;
                object-fit: cover;
            }
        }
    } 
}

/*archives_detail*/
.template_img {
    img {
        margin: auto;
        width: 60%;
        min-width: 100px;
    }
    iframe{
        width: 60%;
        aspect-ratio: 16 / 9;
        min-width: 300px;
    }
}

.template_box {
    margin: 15px 30px;

    h2 {
        letter-spacing: 1px;
    }

    ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            width: 120px;
            p {
                margin: 0;
            }
        }
        .date {
            margin-right: 5px;
        }
        .info::after {
            content: "INFO";
            background-color: #b0909d;
            padding: 0 7.5px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }
        .live::after {
            content: "LIVE";
            background-color: #b0909d;
            padding: 0 7.5px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }
    }

    img {
        width: 350px;
    }
}

@media only screen and (max-width: 449px) {
    .template_img {
        img {
            margin: auto;
            width: 80%;
            min-width: 100px;
        }
        iframe{
            margin: auto;
            width: 80%;
            aspect-ratio: 16 / 9;
            min-width: 100px;
        }
    }
}

/*contact.html*/
.contact_imgbox {
    img {
        width: 250px;
    }
}

@media only screen and (max-width: 449px) {
    .contact_imgbox {
        img {
            width: 60vw;
        }
    }
}